.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.CardMain {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  height: 100%;
  /* border: 2px solid black ; */
}

.Card-BG {
  /* border: 2px solid black ; */
  padding: 5px;
  box-shadow: 0 0 10px #000;
}

.CardMain img {
  width: 100%;
  height: 50vh;
}

.links {
  background-color: transparent;
  padding: 10px;
  border: none;
  margin-left: 10px !important;
  /* margin-top:  !important; */
  cursor: pointer;
}

.links:hover {
  /* text-decoration: underline; */
  color: white;
  background-color: rgb(159, 157, 155);
}

.selectedvalue {
  background-color: rgb(116, 114, 110);
}

.ClickValue {
  background-color: rgb(108, 113, 113);
  padding: 10px !important;
  margin-right: 2px !important;
  border-radius: 3px !important;
  border: none;
  margin-right: 5px !important;
  /* margin-top:  !important; */
  cursor: pointer;
  color: white;
}
.TextField{
  margin-left: 70px !important;
  border: none !important;
}